*.pyc
__pycache__

Codes/checkpoints/*
!Codes/checkpoints/.placeholder

data/*
!data/.placeholder
!data/features
!data/gt_summ


.DS_Store

Codes/CaTE/src/cate
Codes/CaTE/*.txt

Codes/CaTE/preprocess/AutoPhrase

Codes/CaTE/datasets/nyt/*
!Codes/CaTE/datasets/nyt/README.md
!Codes/CaTE/datasets/nyt/nyt_data.zip

Codes/CaTE/datasets/yelp/*
!Codes/CaTE/datasets/yelp/README.md
!Codes/CaTE/datasets/yelp/yelp_data.zip